@font-face {
    font-family: "Open Sans";
	src: url("../fonts/opensans/OpenSans-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
    font-family: "Muli";
	src: url("../fonts/muli/Muli-Light.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
    font-family: "Muli";
	src: url("../fonts/muli/Muli-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
    font-family: "Muli";
	src: url("../fonts/muli/Muli-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
    font-family: "Muli";
	src: url("../fonts/muli/Muli-ExtraBold.ttf") format("truetype");
	font-weight: 800;
}

body {
	margin: 0;
	overflow: hidden;
	background: rgb(40, 44, 47);
}

.window {
	width: 100vw;
	height: 100vh;
}

.frame {
	position: relative;
	background: rgb(40, 44, 47);
	height: 30px;
	z-index: 2;
	display: flex;

	&.sidebarOpened {
		.title {
			width: 180px;
		}

		.buttons {
			width: 104px;

			.container {
				width: 104px;
			}
		}
	}

	.arrows {
		display: flex;

		.arrow {
			width: 12px;
			height: 12px;
			padding: 5px 4px 5px 6px;
			margin: 4px;
			background: rgb(32, 33, 36);
			border-radius: 3px;
			cursor: pointer;

			svg {
				transition: all .3s;
				fill: #54575B;
			}

			&.left {
				margin-right: 0;
				transform: rotate(180deg);
			}

			&:hover {
				svg {
					fill: rgb(214, 214, 215);
				}
			}
		}
	}

	.title {
		padding: 0 5px;
		line-height: 30px;
		font-family: "Muli";
		font-size: 16px;
		color: #72767D;
		width: 280px;
		-webkit-app-region: drag;
		transition: 1s width;
	}

	.buttons {
		width: 0;
		transition: 1s width;

		.container {
			width: 0;
			display: flex;
			justify-content: flex-end;
			overflow: hidden;
			transition: 1s width;
		}

		.button {
			width: 15px;
			height: 15px;
			padding: 5px;
			margin: 3px 0 3px 3px;
			background: rgb(40, 44, 47);
			border-radius: 3px;
			cursor: pointer;

			svg {
				transition: all .3s;
				fill: #54575B;
			}

			&:hover {
				background: rgb(32, 33, 36);

				svg {
					fill: rgb(214, 214, 215);
				}
			}
		}
	}

	.window-buttons {
		width: calc(100vw - 350px);
		display: flex;
		justify-content: flex-end;

		.drag {
			-webkit-app-region: drag;
			flex-grow: 1;
		}

		.button {
			width: 12px;
			height: 12px;
			padding: 6px;
			margin: 3px 0 3px 3px;
			background: rgb(40, 44, 47);
			border-radius: 3px;
			cursor: pointer;
			font-family: "Muli";
			font-size: 20px;
			font-weight: 400;
			color: #54575B;
			text-align: center;
			line-height: 0;

			svg {
				transition: all .3s;
				fill: #54575B;
			}

			&:hover {
				background: rgb(32, 33, 36);
				color: rgb(214, 214, 215);

				svg {
					fill: rgb(214, 214, 215);
				}
			}

			&:last-child {
				margin-right: 4px;
			}
		}
	}
}

@keyframes panel-buttons-move {
	0% {right: 0}
	3% {right: 0}
	100% {right: 350px}
}

#body {
	width: 100vh;
	height: calc(100vh - 30px);
}

.games {
	position: relative;
	width: 100vw;
	height: calc(100vh - 30px);
	display: flex;
	box-sizing: border-box;

	.game-list {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 48px;
		height: calc(100vh - 30px);
		background: rgb(40, 44, 47);
		color: darken(rgb(214, 214, 215), 20%);
		font-family: "Muli";
		z-index: 5;
		overflow: hidden;
		transition: width 1s;
		flex-grow: 0;

		.menu {
			height: 0;
			transition: height 0.5s;
			overflow: hidden;
			flex-shrink: 0;

			div {
				width: 100%;
			}

			.searchbar {
				margin: 8px;
				width: calc(100% - 16px);
				padding: 6px 12px;
				background: rgb(214, 214, 215);
				border: 1px solid rgb(40, 44, 47);
				border-radius: 4px;
				transition: .3s border;
				color: rgb(32, 33, 36);
				font-family: "Muli";
				font-size: 15px;

				&:focus, &:hover {
					background: lighten(rgb(214, 214, 215), 10%);
					border: 1px solid lighten(rgb(214, 214, 215), 10%);
					outline: none;
				}
			}
		}

		.container {
			width: 100%;
			overflow-y: auto;

			&::-webkit-scrollbar {
				width: 0;
				left: -2px;
			}

			&::-webkit-scrollbar-thumb {
				background: lighten(rgb(40, 44, 47), 4%);
				border-radius: 4px;

				&:hover {
					background: lighten(rgb(40, 44, 47), 12%);
				}
			}

			&::-webkit-scrollbar-track {
				background: transparent;
			}
		}

		.game-item {
			margin: 1px 4px;
			transition: 0.3s all;
			cursor: pointer;
			border-radius: 8px;
			display: flex;
			height: 40px;
			overflow: hidden;
			position: relative;
			flex-shrink: 0;
			width: 342px;

			.icon {
				flex-grow: 0;
				width: 30px;
				height: 30px;
				margin: 4px;
				border-radius: 8px;
				border: 1px solid rgb(32, 33, 36);
				background: rgb(32, 33, 36);
				transition: 0.3s all;
				background-size: cover;

				.play-icon {
					width: 16px;
					height: 16px;
					padding: 7px;
					border-radius: 7px;
					background: lighten(rgb(40, 44, 47), 10%);
					opacity: 0;
					transition: opacity .3s;

					svg {
						fill: lighten(rgb(40, 44, 47), 40%);
					}
				}

				&.playable:hover .play-icon {
					opacity: .8;
				}
			}

			.title {
				flex-grow: 1;
				height: 40px;
				transition: all 1s;
				padding: 0 8px;
				word-break: break-all;
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 278px;
				overflow: hidden;

				.title-text {
					height: 16px;
					line-height: 16px;
					font-size: 16px;
				}

				.title-labels {
					display: flex;
					flex-direction: row;

					.label {
						display: inline;
						min-width: 30px;
						text-align: center;
						padding: 0 4px 0 3px;
						font-size: 8px;
						color: black;
						font-style: italic;
						border-radius: 2px;
						margin-right: 1px;
					}

					&.small {
						.label {
							display: block;
							font-size: 0;
							width: 10px;
							min-width: 10px;
							height: 5px;
							border-radius: 2px;
						}
					}
				}
			}

			&.selected {
				color: rgb(214, 214, 215);
				background: lighten(rgb(40, 44, 47), 4%);

				&:hover {
					color: rgb(214, 214, 215);
					background: lighten(rgb(40, 44, 47), 4%);

					.icon {
						border-color: rgb(214, 214, 215);
					}
				}

				.icon {
					border-color: rgb(214, 214, 215);
				}
			}

			&:hover {
				color: darken(rgb(214, 214, 215), 10%);
				background: lighten(rgb(40, 44, 47), 2%);

				.icon {
					border-color: mix(rgb(214, 214, 215), rgb(40, 44, 47));
				}
			}
		}

		.list-toggle {
			position: absolute;
			width: 16px;
			height: 16px;
			padding: 12px;
			bottom: 4px;
			right: 4px;
			background: rgb(32, 33, 36);
			border-radius: 8px;
			z-index: 10;
			cursor: pointer;

			svg {
				transition: 0.3s fill, 1s transform;
				fill: #54575B;
			} 

			&:hover {
				svg {
					fill: rgb(214, 214, 215);
				}
			}
		}

		&.opened {
			width: 350px;

			.list-toggle svg {
				transform: rotate(180deg);
			}

			.container {
				&::-webkit-scrollbar {
					width: 8px;
				}
			}
		}
	}

	.game {
		height: calc(100vh - 30px);
		border-top-left-radius: 12px;
		position: relative;
		flex-grow: 1;

		.background {
			position: absolute;
			height: calc(100vh - 30px);
			width: 100%;
			z-index: 1;
			filter: brightness(40%);
			background-size: cover;
			border-top-left-radius: 12px;

			&:after {
				content: '';
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				background: radial-gradient(circle, transparent 50%, black 150%);
				border-top-left-radius: 12px;
			}
		}

		.info {
			position: absolute;
			z-index: 2;
			display: flex;
			bottom: 0;
			right: 40px;
			justify-content: flex-end;
			align-items: stretch;

			.container {
				&.title {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					padding: 15px 0;

					.title {
						line-height: 50px;
						font-size: 50px;
						padding: 20px 20px 0 20px;
						color: white;
						font-family: "Muli";
						font-weight: 700;
						text-align: right;
					}

					.labels {
						display: flex;
						flex-direction: row;
						justify-content: flex-end;
						padding: 0 20px 20px 0;

						.label {
							min-width: 30px;
							text-align: center;
							padding: 1px 5px 1px 4px;
							font-size: 10px;
							color: black;
							font-family: "Muli";
							font-style: italic;
							border-radius: 4px;
							margin-right: 2px;
						}
					}
				}

				&.right {
					margin: 0 20px 20px 0;
					display: flex;
					justify-content: flex-end;
					flex-direction: column;
					font-family: "Muli";
					color: rgb(214, 214, 215);

					.banner {
						width: 180px;
						margin-bottom: 2px;
						border-radius: 6px;
					}

					.primary-action {
						width: 180px;
						height: 36px;
						margin: 2px 0;
						line-height: 36px;
						cursor: pointer;
						text-align: center;
						background: rgb(40, 44, 47);
						border-radius: 6px;
						font-size: 15px;
						transition: all 0.3s;

						&:hover {
							background: rgb(32, 33, 36);
							color: white;
						}
					}

					.no-action {
						width: 180px;
						height: 36px;
						margin: 2px 0;
						line-height: 36px;
						text-align: center;
						cursor: not-allowed;
						text-align: center;
						border: 2px solid rgb(40, 44, 47);
						border-radius: 6px;
						font-size: 14px;
					}

					.secondary-actions {
						width: 176px;
						height: 32px;
						margin: 2px 0;
						line-height: 32px;
						cursor: pointer;
						text-align: center;
						border: 2px solid rgb(40, 44, 47);
						border-radius: 6px;
						font-size: 14px;
						transition: all 0.3s;
						display: flex;
						position: relative;

						.dropup-name {
							flex-grow: 1;
							text-align: center;
							margin-right: -9px;
						}

						.dropup-menu {
							position: absolute;
							bottom: calc(100% - 2px);
							left: -2px;
							transform: scaleY(0);     
							transform-origin: bottom;
							overflow: hidden;
							width: 180px;
							background: rgb(32, 33, 36);
							display: flex;
							flex-direction: column;
							transition: transform .5s;
							border-top-left-radius: 6px;
							border-top-right-radius: 6px;

							.dropup-item {
								width: 100%;
								height: 32px;
								border-radius: 6px;
								text-align: center;
								line-height: 32px;
								background: rgb(32, 33, 36);
								transition: background .3s;
								color: rgb(214, 214, 215);

								&:hover {
									background: lighten(rgb(32, 33, 36), 2%);
									color: white;
								}
							}

							&.opened {
								transform: scaleY(1);
							}
						}

						.dropup-button {
							width: 14px;
							height: 14px;
							padding: 9px;
							transition: background .3s;
							border-radius: 3px;

							svg {
								transform: rotate(270deg);
								fill: lighten(rgb(40, 44, 47), 10%);
								transition: all .3s;
							}

							&:hover {
								background: lighten(rgb(32, 33, 36), 3%);

								svg {
									fill: white;
								}
							}

							&.opened svg {
								transform: rotate(90deg);
							}
						}

						&:hover {
							border-color: rgb(32, 33, 36);
							background: rgb(32, 33, 36);
							color: white;
						}
					}

					&.no-banner {
						margin-bottom: 0;
						justify-content: center;
					}
				}
			}
		}

		.panel-buttons {
			display: flex;
			justify-content: flex-start;
			flex-direction: column-reverse;
			position: absolute;
			width: 40px;
			right: 0;
			bottom: 20px;
			padding: 1px 0;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			z-index: 5;
			background: rgba(40, 44, 47, 0.1);
			transition: all 1s;
			transition-delay: 0s;

			.button {
				width: 16px;
				height: 16px;
				padding: 10px;
				margin: 1px 2px;
				border-radius: 6px;
				background: rgba(37, 41, 44, 0);
				opacity: 0.8;
				transition: all 0.2s;
				cursor: pointer;

				img {
					width: 16px;
					height: 16px;
				}

				&.selected {
					background: rgb(32, 33, 36);
					opacity: 1;
				}

				&:hover {
					background: rgb(32, 33, 36);
					opacity: 1;
				}
			}

			&.opened {
				right: 450px;
				transition-delay: 0.023s;
			}
		}

		.panel {
			z-index: 4;
			position: absolute;
			height: 100vh;
			width: 490px;
			right: -490px;
			transition: right 1s;
			background: rgb(40, 44, 47);
			overflow-y: auto;

			&::-webkit-scrollbar {
				width: 8px;
				left: -2px;
			}

			&::-webkit-scrollbar-thumb {
				background: lighten(rgb(40, 44, 47), 4%);
				border-radius: 4px;

				&:hover {
					background: lighten(rgb(40, 44, 47), 12%);
				}
			}

			&::-webkit-scrollbar-track {
				background: transparent;
			}

			.container {
				padding: 20px 16px 20px 44px;
				position: relative;

				.options {
					position: absolute;
					left: 0px;
					width: 40px;
					display: flex;
					flex-direction: column;

					.option {
						width: 40px;
						height: 40px;
						border: 1px solid rgb(40, 44, 47);
						width: 12px;
						height: 12px;
						padding: 6px;
						margin: 2px 8px;
						border-radius: 6px;
						cursor: pointer;

						img {
							width: 12px;
							height: 12px;
						}

						&.selected {
							border: 1px solid rgb(214, 214, 215);
							border-radius: 6px;
						}
					}
				}
			}

			&.opened {
				right: 0;
			}
		}

		.darken {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 3;
			background: black;
			transition: all 1s;
			border-top-left-radius: 12px;
			pointer-events: none;

			&.opened {
				opacity: 0.35;
				pointer-events: initial;
			}
		}
	}
}

#panel-info {
	color: white;
	font-family: "Open Sans";

	.head {
		padding-bottom: 16px;

		.title {
			font-weight: 700;
			font-size: 35px;
			margin-bottom: 16px;
			font-family: "Muli";
		}

		.description {
			font-size: 15px;
		}
	}

	.news {
		margin-bottom: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.title {
			font-family: "Muli";
			font-size: 14px;
			font-weight: 900;
			margin-bottom: 8px;
			color: darken(white, 65%);
			width: 100%;

			span {
				border-bottom: 2px solid darken(white, 70%);
				padding-bottom: 0;
			}
		}

		.items {
			display: flex;
			flex-direction: column;
			margin-bottom: 8px;

			.item {
				border-radius: 12px;
				background: rgb(32, 33, 36);
				margin: 3px 0;
				padding: 16px 22px;

				.item-title {
					font-weight: 700;
					font-family: "Muli";
					font-size: 15px;
				}

				.subtitle {
					font-size: 11px;
					color: darken(white, 30%);
					font-style: italic;
				}

				.summary {
					font-size: 13px;
				}
			}
		}

		.more {
			padding: 6px 14px;
			margin: 0 auto;
			font-size: 14px;
			background: rgb(32, 33, 36);
			color: darken(white, 20%);
			transition: all 0.3s;
			cursor: pointer;
			display: inline;
			border-radius: 8px;
			border: 2px solid rgb(40, 44, 47);

			&:hover {
				color: white;
				border: 2px solid rgb(32, 33, 36);
			}
		}
	}
}

.window.list-only {
	.frame {
		.title {
			flex-grow: 1;
		}

		.buttons {
			padding-right: 0;
		}

		.window-buttons {
			width: auto;

			.drag {
				width: 0;
			}

			#maximize {
				display: none;
			}
		}
	}

	#body {
		.game-list {
			width: 100%;
			min-width: 350px;
			transition: none;

			&.opened {
				width: 100%;
			}

			.list-toggle {
				display: none;
			}
		}

		.game {
			display: none;
		}
	}
}

.notransition {
	transition: none !important;
}